.registerButton {
  background-color: whitesmoke;
  margin: 5px;
  font-size: 0.7rem;
}

.loginButton {
  background-color: whitesmoke;
  margin: 5px;
  font-size: 0.7rem;
}

.logoutButton {
  background-color: whitesmoke;
  margin: 5px;
  font-size: 0.7rem;
}
