.backGround {
    width: auto;
    max-height: 500px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

 .heroslogan { 
    position: absolute; 
    top: 260px; 
    left: 90px; 
    width: 100%; 
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: bold;
 }

 .content-block {
    background-color: #FFF1E0;
    width: auto;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

 }
 .photo11 {
    position: relative;
    max-height: 300px;
    padding-top: 60px;
    padding-left: 60px;
}
.photo33 {
    position: relative;
    max-height: 300px;
    padding-top: 60px;
    padding-left: 60px;
}
.photo55 {
    position: relative;
    max-height: 300px;
    padding-top: 60px;
    padding-left: 60px;
}
.photo22 {
    position: relative;
    max-height: 300px;
    padding-top: 60px;
    padding-left: 60px;

}
.photo44 {
    position: relative;
    max-height: 300px;
    padding-top: 60px;
    padding-left: 60px;
}
.photo66 {
    position: relative;
    max-height: 300px;
    padding-top: 60px;
    padding-left: 60px;
    margin-bottom: 60px;
}
.para1 {
    position: relative;
    float: right;
    padding-top: 150px;
    padding-right: 240px;
    font-size: 30px;
    font-weight: bold;
}
.para2{
    position: relative;
    float: right;
    padding-top: 150px;
    padding-right: 440px;
    font-size: 30px;
    font-weight: bold;
    
}
.para3{
    position: relative;
    float: right;
    padding-top: 150px;
    padding-right: 320px;
    font-size: 30px;
    font-weight: bold;
}
.para4{
    position: relative;
    float: right;
    padding-top: 150px;
    padding-right: 160px;
    font-size: 30px;
    font-weight: bold;
}
.para5{
    position: relative;
    float: right;
    padding-top: 150px;
    padding-right: 300px;
    font-size: 30px;
    font-weight: bold;
}
.para6{
    position: relative;
    float: right;
    padding-top: 150px;
    padding-right: 430px;
    font-size: 30px;
    font-weight: bold;
}