.backGround {
    width: auto;
    max-height: 500px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

 .heroslogan { 
    position: absolute; 
    top: 260px; 
    left: 90px; 
    width: 100%; 
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: bold;
 }

 .content-block {
    background-color: #FFF1E0;
    width: auto;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

 }
.photo11 {
    position: relative;
    max-height: 200px;
    padding-left: 80px;
    margin-top: 40px;
    top: 30px;
}
.photo33 {
    position: relative;
    max-height: 200px;
    padding-left: 80px;
    margin-top: 40px;
    top: 30px;
}
.photo55 {
    position: relative;
    max-height: 200px;
    padding-left: 80px;
    margin-top: 40px;
    top: 30px;
}
.photo22 {
    position: relative;
    max-height: 200px;
    margin-top: auto;
    padding-right: 50px;
    float: right;
}
.photo44 {
    position: relative;
    max-height: 200px;
    padding-right: 50px;
    float: right;
}
.photo66 {
    position: relative;
    max-height: 200px;
    padding-right: 50px;
    float: right;
}

.para1{
    position: relative;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-top: 130px;
    margin-right: 90px;
}

.para2{
    position: relative;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin-top: 60px;
    margin-left: 400px;
}

.para3{
    position: relative;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    float: right;
}

.para4{
    position: relative;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.para5{
    position: relative;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    float: right;
}

.para6{
    position: relative;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    float: left;
}